$colorWidth: 150px;
$blockSize: 50px;

#colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  margin: 100px 0;
  .color {
    margin: 10px;
    cursor: pointer;
    width: $colorWidth;
    height: $blockSize;
    background: rgba(255,255,255, .2);
    border-radius: 0;
    transition: all ease-in-out .3s;
    overflow: hidden;
    box-shadow:2px 2px 3px #333;
    &>div {
      float: left;
      transition: all ease-in-out .3s;
    }
    &.dark {
      color: #fffee9;
    }
    .block {
      height: $blockSize;
      width: $blockSize;
      border-radius: 0;
      line-height: $blockSize;
      text-align: center;
      font-size: 25px;
    }
    .info {
      color: #333;
      line-height: $blockSize;
      height: $blockSize;
      font-size: 25px;
      padding-left: 10px;
      width: $colorWidth - $blockSize;
      transform: translate(0, 0);
      &>div {
        height: $blockSize;
      }
      .hex {
        font-size: 20px;
      }
    }

    &:hover {
      border-radius: 25px;
      .block {
        border-radius: 25px;
      }
      .info {
        transform: translate(0, -$blockSize);
      }
    }
  }
}