html, body, #main, #workspace, #mask {
  height: 100%;
  width: 100%;
  min-width: 800px;
}

#workspace {
  position: relative;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

#center {
  padding: 100px 0;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));

  &:before {
    content: "";
    background: url('./../../assets/images/texture-paper.png');
    background-size: 280px 280px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: .5;
  }
}